
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      <h2>Profile Page</h2>
      <% if current_user.try(:avatar).try(:url).nil?  %>
        <%= image_tag("avatar_placeholder.png", :class => "avatar-big") %>
      <% else %>
        <%= image_tag(current_user.avatar.url, :class => "avatar-big") %>
      <% end %>
      <ul>
        <li class="profile-list"><%= current_user.first_name %> <%= current_user.last_name %></li>
        <li class="profile-list"><%= current_user.email %></li>
        <li class="profile-list"><%= current_user.department %></li>
      </ul>
      <%= link_to "Edit your profile", edit_user_path(current_user) %>
    </div>
  </div>
</div>


