<div class="navbar-wagon">
  <!-- Logo -->
  <div href="/" class="navbar-wagon-brand">
    <% if user_signed_in?  %>
    <%= link_to image_tag('favicon.ico'), user_reports_path(:user_id) %>
    <% else %>
    <%= link_to image_tag('favicon.ico'), root_path %>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
    <%= render 'shared/search' %>
    <% end %>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= render 'shared/avatar' %>
        <ul class="dropdown-menu dropdown  dropdown-menu-right navbar-wagon-dropdown-menu">
          <% if user_signed_in? %>
          <li><%= link_to "New Company", new_company_path %></li>
          <li><%= link_to "Reporting", user_reports_path(:user_id) %></li>
          <li><%= link_to "Signout", destroy_user_session_path, method: :delete %> </li>
          <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
