
<div class="left-sidebar-menu sticky-top sticky-offset">

  <!-- first link -->
  <div data-target="#submenu1"  class="btn-collapse" data-id="1">
    <a href="#">
      <div class="left-sidebar-menu-item">

        <div><%= image_tag("icons/files.svg", class: "left-sidebar-menu-icon") %></div>
        <div>Reports</div>

      </div>
    </a>
  </div>
  <div id='submenu1' class="collapse left-sidebar-submenu">
    <a href="#">
      <div class="menu-collapsed left-sidebar-submenu-item"><%= link_to "All Reports", user_reports_path(current_user) %></div>
    </a>
    <a href="#" class="">
      <div class="menu-collapsed left-sidebar-submenu-item"><%= link_to "New report", new_user_report_path(current_user)%></div>
    </a>
  </div>
  <!-- end first link -->
  <!-- second link -->

  <div data-target="#submenu2"  class="btn-collapse" data-id="2">
    <a href="#">
      <div class="left-sidebar-menu-item">
        <div><%= image_tag("icons/tie.svg", class: "left-sidebar-menu-icon") %></div>
        <div>Profile</div>
      </div>
    </a>
  </div>
  <div id='submenu2' class="collapse left-sidebar-submenu">
    <a href="#">
      <div class="menu-collapsed left-sidebar-submenu-item"><%= link_to "My Profile", user_path(current_user) %></div>
    </a>
  </div>
  <!-- end second link -->
  <!-- third link -->
  <div data-target="#submenu3"  class="btn-collapse" data-id="3">
    <a href="#">
      <div class="left-sidebar-menu-item">
        <div><%= image_tag("icons/speech-bubble.svg", class: "left-sidebar-menu-icon") %></div>
        <div>Support</div>
      </div>
    </a>
  </div>
  <div id='submenu3' class="collapse left-sidebar-submenu">
    <a href="#">
      <div class="menu-collapsed left-sidebar-submenu-item">Help Center</div>
    </a>
  </div>
  <!-- end third link -->
</div>

