<div class="banner" style="background-image: linear-gradient(rgb(36, 107, 173) 0px, rgb(0, 200, 200) 100%);">
  <div class="banner-content">
    <h1>Fluidata</h1>
    <p>Smart fluid reporting</p>
    <%= link_to "Start now", user_reports_path(:user_id), class: "button button-yellow" %>
    <div class="business-icons">
      <div class="email-icon"><%= image_tag ("icons/email.svg") %></div>
      <div class="light-bulb-icon"><%= image_tag ("icons/light-bulb.svg") %></div>
      <div class="target-icon"><%= image_tag ("icons/target.svg") %></div>
      <div class="paper-plane-icon"><%= image_tag ("icons/paper-plane.svg") %></div>
      <div class="money-1-icon"><%= image_tag ("icons/money-1.svg") %></div>
      <div class="news-icon"><%= image_tag ("icons/news.svg") %></div>
    </div>
    <div class="homepage-graph">
      <%= image_tag("homepage_graph.png", width: "300px", height: "300px", alt: "white graph") %>
    </div>
  </div>
</div>
