<div class="banner" style="background-image: linear-gradient(rgb(36, 107, 173) 0px, rgb(0, 200, 200) 100%);">
  <div class="banner-content">
    <div class="homepage-branding">
      <h1>Fluidata</h1>
      <p id="headline-tagline">Smart fluid reporting</p>
      <p id="headline-description">Take better desions for your business. Visualize what matters, sense the pulse of any of your activity in the blink of an eye.</p>

      <div id="headline-button-pos"> <%= link_to "Start now", user_reports_path(:user_id), class: "button button-yellow", id: "headline-button" %>
      </div>
    </div>
    <div class="business-icons">
      <div class="homepage-icons" id="email-icon"><%= image_tag ("icons/email.svg") %></div>
      <div class="homepage-icons" id="light-bulb-icon"><%= image_tag ("icons/light-bulb.svg") %></div>
      <div class="homepage-icons" id="target-icon"><%= image_tag ("icons/target.svg") %></div>
      <div class="homepage-icons" id="paper-plane-icon"><%= image_tag ("icons/paper-plane.svg") %></div>
      <div class="homepage-icons" id="money-1-icon"><%= image_tag ("icons/money-1.svg") %></div>
      <div class="homepage-icons" id="news-icon"><%= image_tag ("icons/news.svg") %></div>
      <div class="homepage-icons" id="coffee-cup-icon"><%= image_tag ("icons/coffee-cup.svg") %></div>
    </div>
    <div class="homepage-graph">
      <%= image_tag("homepage_graph.png", width: "300px", height: "300px", alt: "white graph") %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row homepage-texte-container">
    <div class="hp-texte-usp1 col-xs-12 col-md-6">
      <div class="hp-usp1-title-block">
        <h2 id="hp-usp1-title">Easy reporting</h2>
        <div id="stats-icon-usp1-title"><%= image_tag ("icons/stats.svg") %></div>
      </div>
      <p>Our technology makes your data actionable. Our technology makes your data actionable. Our technology makes your data actionable. Our technology makes your data actionable. Our technology makes your data actionable. Our technology makes your data actionable.</p>
      <p><%=link_to "Give it a try? Contact our customer success team.", user_reports_path(:user_id), id: "usp1-link" %></p>
    </div>
    <div class="hp-img-usp1 col-xs-12 col-md-6">
      <div id="laptop-icon-usp1-img"><%= image_tag ("icons/laptop.svg") %></div>
    </div>
  </div>
  <div class="row hp-kpi-blocks">
    <div class="hp-kpi-card card-block-design col-sm-12 col-md-6">
      <h4 class="hp-kpi-card-title">Tell your story</h4>
      <p>"We saw a growth in sales following our strong marketing campaign. The message resonnates to our customers."</p>
    </div>
    <div class="hp-kpi-card card-block-design col-sm-12 col-md-6">
      <h4 class="hp-kpi-card-title">Quantify your story</h4>
      <div class="hp-kpi">
        <div class="hp-block-name">Revenue</div>
        <div class="hp-kpi-period">10/10/2018 - 11/11/2018</div>
        <div class="hp-kpi-number">1.250.080€</div>
      </div>
    </div>
    <div class="hp-kpi-card card-block-design col-sm-12 col-md-6">
      <h4 class="hp-kpi-card-title">Visualize your story</h4>
      <div class="hp-kpi-graph">
        <div class="hp-block-name">Revenue</div>
        <div class="hp-graph-area-chart">
          <%= image_tag ("area-chart.png"), height: "100", width: "325" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row hp-testimony">
    <div class="hp-testimony-picture col-xs-12 col-sm-6">
      <div> <%= image_tag ("https://kitt.lewagon.com/placeholder/users/ssaunier"), id: "hp-testimony-picture-image", width: "200px", height: "200px" %>
      </div>
      <div id="hp-testimony-name-title">
        <p id="hp-testimony-name">Seb Saus</p>
        <p id="hp-testimony-title">Train Rails Builder Officer</p>
      </div>
    </div>
    <div class="hp-testimoty-text col-xs-12 col-sm-6">
      <div class="hp-testimony-left-quote">
        <%= image_tag ("icons/left-quote.svg"), height: "50", width: "50" %>
      </div>
      <div class="hp-testimony-quote">
        <p>Understanding what going is key to take better decision. Leveraging our data allows us to build amazing boilerplates, ticket systems. We have not the best flash cards in the world according to Legorafi!</p>
      </div>
      <div class="hp-testimony-right-quote">
        <%= image_tag ("icons/right-quote.svg"), height: "50", width: "50" %>
      </div>
    </div>
  </div>
  <div class="row hp-bottom-cta">
    <div class="hp-bottom-cta-content col-lg-12">
      <div>
        <div><p>Request your free trial</p></div>
        <div> <%= link_to "Start now", user_reports_path(:user_id), class: "button button-green", id: "hp-bottom-cta-btn" %>
        </div>
      </div>
    </div>
  </div>
</div>
