<h1>My Company: <%= @company.name %> </h1>

<p>Informations</p>
<div><%= @company.name %></div>
<div><%= @company.address %></div>
<div><%= @company.vat %></div>
<div><%= cl_image_tag @company.photo, height: 300, width: 400, crop: :fill %></div>
<div>
  <%= link_to "Delete", company_path,
  method: :delete,
  data: { confirm: "Are you sure?"} %>
</div>
<div> <%= link_to "Edit", edit_company_path %></div>
