<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="top-navbar">
        <div class="col-xs-12 col-sm-8">
          <div class="left-top-navbar">
            <div class="">
              <div id="icon-company-profile"><%= image_tag ("icons/group.svg") %></div>
            </div>
            <div class="left-top-navbar-title">
              <h1>Company Details</h1>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="right-top-navbar">
            <div id="right-top-navbar-edit-btn">
              <%= link_to "Edit", edit_company_path(current_user), class: "button-blue button" %>
            </div>
            <div id="right-top-navbar-delete-btn">
              <%= link_to "Delete", company_path, method: :delete,
              data: {confirm: "Are you sure?"}, class: "button-red button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row maincontentandnav">
    <div class="left-sidebar d-none d-md-block col-md-2 sidebar-expanded" id="left-sidebar-menu-toggle sidebar-container">
      <div class="left-sidebar-menu sticky-top sticky-offset">

        <!-- first link -->
        <div data-target="#submenu1"  class="btn-collapse" data-id="1">
          <div class="left-sidebar-menu-item">

            <div><%= image_tag("icons/paper-plane.svg", class: "left-sidebar-menu-icon") %></div>
            <div>texte 1</div>

          </div>
        </div>
        <div id='submenu1' class="collapse">
          <a href="#">
            <div class="menu-collapsed">Charts</div>
          </a>
          <a href="#" class="">
            <div class="menu-collapsed">Reports</div>
          </a>
          <a href="#" class="">
            <div class="menu-collapsed">Tables</div>
          </a>
        </div>

        <!-- second link -->
        <div class="left-sidebar-menu-item">
          <div><%= image_tag("icons/paper-plane.svg", class: "left-sidebar-menu-icon") %></div>
          <div>texte 2</div>
        </div>

        <!-- third link -->
        <div class="left-sidebar-menu-item">
          <div><%= image_tag("icons/paper-plane.svg", class: "left-sidebar-menu-icon") %></div>
          <div>texte 3</div>
        </div>

        <!-- collapse button -->
        <!-- <div class="left-sidebar-menu-item">
          <a href="#" data-toggle="sidebar-colapse" class="">
            <div class="">
              <div id="collapse-icon" class="fa fa-2x mr-3"></div>
              <div id="collapse-text" class="menu-collapsed">Collapse</div>
            </div>
          </a>
        </div> -->


      </div>
    </div>
    <div class="right-maincontent col-xs-12 col-md-10">
      <div id="left-sidebar-toggle">
        <%= image_tag("icons/sidebar-left-arrow.svg", id: "left-sidebar-toggle-left-arrow") %>
      </div>

      <div>
        <h1>My Company: <%= @company.name %> </h1>

        <p>Informations</p>
        <div><%= @company.name %></div>
        <div><%= @company.address %></div>
        <div><%= @company.vat %></div>
        <div><%= cl_image_tag @company.photo, height: 300, width: 400 %></div>
        <div><%= @company.photo %></div>
        <div>
          <%= link_to "Delete", company_path,
          method: :delete,
          data: { confirm: "Are you sure?"} %>
        </div>
        <div> <%= link_to "Edit", edit_company_path %></div></div>
      </div>
    </div>
  </div>

