<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="top-navbar">
        <div class="col-xs-12 col-sm-6">
          <div class="left-top-navbar">
            <div class="">
              <div id="icon-company-profile"><%= image_tag ("icons/group.svg") %></div>
            </div>
            <div class="left-top-navbar-title">
              <h1><%= @company.name %></h1>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="right-top-navbar">
            <div class="">
              <%= link_to "Create New Report", new_user_report_path(current_user), class: "button-green button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row maincontentandnav">
    <div class="left-sidebar d-none d-md-block col-md-2" id="left-sidebar-menu-toggle">
      <div class="left-sidebar-menu sticky-top sticky-offset">
        <div class="left-sidebar-menu-item">
          <div><%= image_tag("icons/paper-plane.svg", class: "left-sidebar-menu-icon") %></div>
          <div>texte 1</div>
        </div>
        <div class="left-sidebar-menu-item">
          <div><%= image_tag("icons/paper-plane.svg", class: "left-sidebar-menu-icon") %></div>
          <div>texte 2</div>
        </div>
        <div class="left-sidebar-menu-item">
          <div><%= image_tag("icons/paper-plane.svg", class: "left-sidebar-menu-icon") %></div>
          <div>texte 3</div>
        </div>
      </div>
    </div>
    <div class="right-maincontent col-xs-12 col-md-10">
      <div id="left-sidebar-toggle">
        <%= image_tag("icons/sidebar-left-arrow.svg", id: "left-sidebar-toggle-left-arrow") %>
      </div>

      <div>
        <h1>My Company: <%= @company.name %> </h1>

        <p>Informations</p>
        <div><%= @company.name %></div>
        <div><%= @company.address %></div>
        <div><%= @company.vat %></div>
        <div><%= cl_image_tag @company.photo, height: 300, width: 400 %></div>
        <div><%= @company.photo %></div>
        <div>
          <%= link_to "Delete", company_path,
          method: :delete,
          data: { confirm: "Are you sure?"} %>
        </div>
        <div> <%= link_to "Edit", edit_company_path %></div></div>
      </div>
    </div>
  </div>

