<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="top-navbar">
        <div class="col-xs-12 col-sm-8">
          <div class="left-top-navbar">
            <div class="">
              <div id="icon-company-profile"><%= image_tag ("icons/files.svg") %>
              </div>
            </div>
            <div class="left-top-navbar-title">
              <h1>My Reports</h1>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="right-top-navbar">
            <div id="right-top-navbar-edit-btn">
              <% if params[:term].present? %>
              <%= link_to "Back to all reports", user_reports_path(current_user), class: "button-blue button right-top-navbar-btn" %>
              <% end %>
              <%= link_to "Create new report", new_user_report_path(current_user), class: "button-green button right-top-navbar-btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row maincontentandnav">
    <div class="left-sidebar d-none d-md-block col-md-2 sidebar-expanded" id="left-sidebar-menu-toggle sidebar-container"> <%= render 'shared/sidebar' %>
    </div>
    <div class="right-maincontent col-xs-12 col-md-10">
      <div class="row maincontentandnav-top sticky-top sticky-offset">
        <div class = "" id="left-sidebar-toggle">
          <i class="fas fa-caret-left" id="left-sidebar-toggle-left-arrow"></i>
        </div>
      </div>
      <% if @reports.empty? %>
        <div class="container-fluid" id="no-report">
          <div class="col-lg-12">
            <p> Build your first report by adding Todo's, KPI and Graph blocks</p>
            <%= link_to image_tag("icons/news.svg"), new_user_report_path(current_user), class: "homepage-icons" %>
          </div>
        </div>
      <% else %>
        <div class="col-lg-12">
          <% if params[:term].present? %>
            <div class="row">
              <div class="report-text-index-titles">
                <div class="sections-titles">Your search results:</div>
              </div>
            </div>
          <% else %>
            <div class="row">
              <div class="report-text-index-titles">
                <div class="sections-titles">Key reports:</div>
              </div>
            </div>
            <% if @reports1.empty? %>
              <div> <p> <i> <small> No report starred yet! </small> </i> </p>
              </div>
            <% else %>
              <div class="row reports-card-top-text-title">
                <div class="card-block col-sm-6 col-md-4">
                  <% if @reports1[-1] %>
                    <%= link_to user_report_path(current_user.id, @reports1[-1]) do %>
                      <div class="card-block-design reports-card-top">
                        <div class="card-title reports-card-top-title"><%= @reports1[-1].name %>
                        </div>
                        <div class="card-trash">
                          <div class="card-kpi-more-options" >
                            <i class="fas fa-ellipsis-v card-kpi-more-options-image card-kpi-option", data-toggle="dropdown-report-<%=@reports1[-1].id%>"></i>
                            <ul class="dropdown-menu dropdown  dropdown-menu-right navbar-wagon-dropdown-menu dropdown-more-options" id="dropdown-report-<%= "#{@reports1[-1].id}"%>">
                              <li><%= link_to "Edit", edit_user_report_path(current_user, @reports1[-1]) %></li>
                              <li><%= link_to "Delete", user_report_path(current_user, @reports1[-1]), method: :delete %></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="card-block col-sm-6 col-md-4">
                  <% if @reports1[-2] %>
                    <%= link_to user_report_path(current_user.id, @reports1[-2]) do %>
                      <div class="card-block-design reports-card-top">
                        <div class="card-title reports-card-top-title"><%= @reports1[-2].name %></div>
                        <div class="card-trash">
                          <div class="card-kpi-more-options" >
                            <i class="fas fa-ellipsis-v card-kpi-more-options-image card-kpi-option", data-toggle="dropdown-report-<%=@reports1[-2].id%>"></i>
                            <ul class="dropdown-menu dropdown  dropdown-menu-right navbar-wagon-dropdown-menu dropdown-more-options" id="dropdown-report-<%= "#{@reports1[-2].id}"%>">
                              <li><%= link_to "Edit", edit_user_report_path(current_user, @reports1[-2]) %></li>
                              <li><%= link_to "Delete", user_report_path(current_user, @reports1[-2]), method: :delete %></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="card-block col-sm-6 col-md-4">
                  <% if @reports1[-3] %>
                    <%= link_to user_report_path(current_user.id, @reports1[-3]) do %>
                      <div class="card-block-design reports-card-top">
                        <div class="card-title reports-card-top-title"><%= @reports1[-3].name %>
                        </div>
                        <div class="card-trash">
                          <div class="card-kpi-more-options" >
                            <i class="fas fa-ellipsis-v card-kpi-more-options-image card-kpi-option", data-toggle="dropdown-report-<%=@reports1[-3].id%>"></i>
                            <ul class="dropdown-menu dropdown  dropdown-menu-right navbar-wagon-dropdown-menu dropdown-more-options" id="dropdown-report-<%= "#{@reports1[-3].id}"%>">
                              <li><%= link_to "Edit", edit_user_report_path(current_user, @reports1[-3]) %></li>
                              <li><%= link_to "Delete", user_report_path(current_user, @reports1[-3]), method: :delete %></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="row">
            <div class="report-text-index-titles">
              <div class="sections-titles">All reports:</div>
            </div>
          </div>
        <% end %>
          <div class="row push-footer">
            <div class="col-lg-12">
              <ul class="list-group">
                <% if params[:term].present? %>
                  <% @reports.each do |report| %>
                    <div>
                      <li class="list-group-item d-flex card-block-design">
                        <div class="message">
                          <div>
                            <div>
                              <p><strong><%= link_to report.name, user_report_path(current_user.id, report) %></strong>
                              </p>
                            </div>
                            <div>
                             <p class="card-reports-text">Last updated at <%= report.updated_at%></p>
                            </div>
                          </div>
                          <div class="badge_">
                            <div class="message-status">
                              <div class="card-kpi-more-options" >
                                <i class="fas fa-ellipsis-v card-kpi-more-options-image card-kpi-option", data-toggle="dropdown-report-<%=report.id%>"></i>
                                <ul class="dropdown-menu dropdown  dropdown-menu-right navbar-wagon-dropdown-menu dropdown-more-options" id="dropdown-report-<%= "#{report.id}"%>">
                                  <li><%= link_to "Edit", edit_user_report_path(current_user, report) %></li>
                                  <li><%= link_to "Delete", user_report_path(current_user, report), method: :delete %></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </div>
                  <% end %>
                <% else %>
                  <% @reports1.each do |report| %>
                    <div>
                      <li class="list-group-item d-flex card-block-design reports-block-design">
                        <div class="message reports-message">
                          <div class="reports-star">
                            <%= link_to toggle_starred_user_report_path(current_user, report), remote: true do %>
                              <% if report.starred === true %>
                                <span class="fa fa-star checked" id="star_toggle"></span>
                              <% else %>
                                <span class="fa fa-star unchecked"></span>
                              <% end %>
                            <% end %>
                          </div>
                          <div>
                            <div class="reports-title-name">
                              <span><%= link_to report.name, user_report_path(current_user.id, report) %>
                              </span>
                              <div class="reports-card-text">
                                <span>Last updated at <%= report.updated_at%></span>
                              </div>
                            </div>
                          </div>
                          <div class="badge_">
                            <div class="message-status">
                              <div class="card-kpi-more-options" >
                                <i class="fas fa-ellipsis-v card-kpi-more-options-image card-kpi-option", data-toggle="dropdown-report-<%=report.id%>"></i>
                                <ul class="dropdown-menu dropdown  dropdown-menu-right navbar-wagon-dropdown-menu dropdown-more-options" id="dropdown-report-<%= "#{report.id}"%>">
                                  <li><%= link_to "Edit", edit_user_report_path(current_user, report) %></li>
                                  <li><%= link_to "Delete", user_report_path(current_user, report), method: :delete %></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </div>
                  <% end %>


                  <% @reports2.each do |report| %>
                    <div>
                      <li class="list-group-item d-flex card-block-design reports-block-design">
                        <div class="message reports-message">
                          <div class="reports-star">
                            <%= link_to toggle_starred_user_report_path(current_user, report), remote: true do %>
                              <% if report.starred === true %>
                                <span class="fa fa-star checked" id="star_toggle"></span>
                              <% else %>
                                <span class="fa fa-star unchecked"></span>
                              <% end %>
                            <% end %>
                          </div>
                          <div>
                            <div class="reports-title-name">
                              <span><%= link_to report.name, user_report_path(current_user.id, report) %>
                              </span>
                              <div class="reports-card-text">
                                <span>Last updated at <%= report.updated_at%></span>
                              </div>
                            </div>
                          </div>
                          <script>
                            const ColorStar = (event) => {
                              event.currentTarget.classList.toggle("checked");
                            };
                            document.querySelectorAll("span").forEach((check) => {
                              check.addEventListener("click", ColorStar);
                            });
                          </script>
                          <div class="badge_">
                            <div class="message-status">
                              <div class="card-kpi-more-options" >
                                <i class="fas fa-ellipsis-v card-kpi-more-options-image card-kpi-option", data-toggle="dropdown-report-<%=report.id%>"></i>
                                <ul class="dropdown-menu dropdown  dropdown-menu-right navbar-wagon-dropdown-menu dropdown-more-options" id="dropdown-report-<%= "#{report.id}"%>">
                                  <li><%= link_to "Edit", edit_user_report_path(current_user, report) %></li>
                                  <li><%= link_to "Delete", user_report_path(current_user, report), method: :delete %></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </div>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
