<h1><%= @report.name %></h1>

<%= link_to "Add a text block |", new_user_report_text_block_path(current_user, @report) %>
<%= link_to "Add a kpi block |", new_user_report_kpi_block_path(current_user, @report) %>
<%= link_to "Add a graph block", new_user_report_graph_block_path(current_user, @report) %>

<div class="container-fluid">
  <div class="col-lg-12">
    <ul class="list-group padding-top-show">
      <% @report.text_blocks.each do |report| %>
        <li class="list-group-item d-flex card-block-design">
          <div class="message">
            <%= link_to report.content, user_report_text_block_path(current_user, @report, report) %>
            <div class="badge_">
              <div class="message-status">
                <div class="card-trash">
                  <i><%= link_to "",user_report_text_block_path(current_user, @report, report), method: :delete,
                    data: { confirm: "Are you sure?"}, class: "fas fa-trash" %>
                  </i>
                </div>
                <p class="price"><%= link_to "Edit", edit_user_report_text_block_path(current_user, @report, report), class: "edit-index" %>
                </p>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <% @report.kpi_blocks.each do |report| %>
    <div class="card col-xs-12 col-sm-6 col-md-4">
      <%= KpiBlock.items_hash.key(report.kpi_type)  %>
      <br> <%= report.start_date %> </br>
      <%= report.end_date %>
      <div style="font-size: 32px;">
        <%= report.call_ga_v4_kpi.reports.first.data.totals.first.values.first.to_i %>
      </div>
      <%= report.order %>
      <%= link_to "| Edit | ", edit_user_report_kpi_block_path(current_user, @report, report) %>
      <%= link_to "Delete ||", user_report_kpi_block_path(current_user, @report, report), method: :delete %>
    </div>
    <% end %>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <% @report.graph_blocks.each do |report| %>
    <div class="card col-xs-12 col-sm-6 col-md-4">
      <%= GraphBlock.items_hash.key(report.graph_type)  %>
      <br> <%= report.start_date %> </br>
      <%= report.end_date %>
      <% values = report.call_ga_v4_graph.reports.first.data.rows.map do |item| [item.dimensions, item.metrics[0].values] end %>
      <%= column_chart values %>
      <%= report.order %>
      <%= link_to "| Edit | ", edit_user_report_graph_block_path(current_user, @report, report) %>
      <%= link_to "Delete ||", user_report_graph_block_path(current_user, @report, report), method: :delete %>
    </div>
    <% end %>
  </div>
</div>

<div>
  <%= link_to "Back to overview |", user_reports_path(current_user) %>
  <%= link_to "Edit the report", edit_user_report_path(current_user) %>
  <%= link_to "Delete", user_report_path(current_user, @report), method: :delete %>
</div>
