<h1><%= @report.name %></h1>

<%= link_to "Add a text block |", new_user_report_text_block_path(current_user, @report) %>
<%= link_to "Add a kpi block |", new_user_report_kpi_block_path(current_user, @report) %>
<%= link_to "Add a graph block", new_user_report_graph_block_path(current_user, @report) %>

<div>
  <% @report.text_blocks.each do |report| %>
  <%= link_to report.content, user_report_text_block_path(current_user, @report, report) %>
  <%= link_to "| Edit | ", edit_user_report_text_block_path(current_user, @report, report) %>
  <%= link_to "Delete ||", user_report_text_block_path(current_user, @report, report), method: :delete %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <% @report.kpi_blocks.each do |report| %>
    <div class="card col-xs-12 col-sm-6 col-md-4">
      <%= link_to report.kpi_type, user_report_kpi_block_path(current_user, @report, report) %>
      <%= report.start_date %>
      <%= report.end_date %>
      <div style="font-size: 32px;">
        <%= report.call_ga_v4.reports.first.data.totals.first.values.first.to_i %>
      </div>
      <%= report.order %>
      <%= link_to "| Edit | ", edit_user_report_kpi_block_path(current_user, @report, report) %>
      <%= link_to "Delete ||", user_report_kpi_block_path(current_user, @report, report), method: :delete %>
    </div>
    <% end %>
  </div>
</div>

<div>
  <% @report.graph_blocks.each do |report| %>
  <%= link_to report.graph_type, user_report_graph_block_path(current_user, @report, report)%>
  <%= report.start_date %>
  <%= report.end_date %>
  <%= report.order %>
  <%= link_to "| Edit | ", edit_user_report_graph_block_path(current_user, @report, report) %>
  <%= link_to "Delete ||", user_report_graph_block_path(current_user, @report, report), method: :delete %>
  <% end %>
</div>

<div>
  <%= link_to "Back to overview |", user_reports_path(current_user) %>
  <%= link_to "Edit the report", edit_user_report_path(current_user) %>
  <%= link_to "Delete", user_report_path(current_user, @report), method: :delete %>
</div>
