<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="top-navbar">
        <div class="col-xs-12 col-sm-8">
          <div class="left-top-navbar">
            <div class="">
              <div id="icon-company-profile"><%= image_tag ("icons/stats.svg") %></div>
            </div>
            <div class="left-top-navbar-title">
              <h1><%= @report.name %></h1>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="right-top-navbar">
            <div id="right-top-navbar-edit-btn">
              <%= link_to "Edit", edit_user_report_path(current_user), class: "button-blue button right-top-navbar-btn" %>
            </div>
            <div id="right-top-navbar-delete-btn">
              <%= link_to "Delete", user_report_path(current_user, @report), method: :delete,
              data: {confirm: "Are you sure?"}, class: "button-red button right-top-navbar-btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row maincontentandnav">
    <div class="left-sidebar d-none d-md-block col-md-2 sidebar-expanded" id="left-sidebar-menu-toggle sidebar-container"> <%= render 'shared/sidebar' %> </div>
    <div class="right-maincontent col-xs-12 col-md-10">
      <div class="row maincontentandnav-top sticky-top sticky-offset">
        <div class = "" id="left-sidebar-toggle">
          <i class="fas fa-caret-left" id="left-sidebar-toggle-left-arrow"></i>
        </div>
        <div class="report-actions">
          <%= link_to "+ Text", new_user_report_text_block_path(current_user, @report), class:"button button-yellow report-actions-btn"%>
          <%= link_to "+ KPI", new_user_report_kpi_block_path(current_user, @report), class:"button button-yellow report-actions-btn" %>
          <%= link_to "+ Graph", new_user_report_graph_block_path(current_user, @report), class:"button button-yellow report-actions-btn" %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-group padding-top-show">
            <% @report.text_blocks.each do |report| %>
            <li class="list-group-item d-flex card-block-design">
              <div class="text-block-txt-content">
                <%= report.content %>
              </div>
              <div class="card-kpi-more-options" >
                <i class="fas fa-ellipsis-v card-kpi-more-options-image card-kpi-option", data-toggle="dropdown-text-<%=report.id%>"></i>
                <ul class="dropdown-menu dropdown  dropdown-menu-right navbar-wagon-dropdown-menu dropdown-more-options" id="dropdown-text-<%= "#{report.id}"%>">
                  <li><%= link_to "Edit", edit_user_report_text_block_path(current_user, @report, report) %></li>
                  <li><%= link_to "Delete", user_report_text_block_path(current_user, @report, report), method: :delete %></li>
                </ul>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="row report-blocks-row">
        <% @report.kpi_blocks.each do |report| %>
        <div class="col-xs-12 col-sm-6 col-md-4 card-block-align">
          <div class="card card-kpi card-wrapper">
            <div class="card-kpi-metric-title"> <%= KpiBlock.items_hash.key(report.kpi_type)  %></div>
            <div class="card-kpi-date" id="card-kpi-date-start"> <%= report.start_date  %></div>
            <div class="card-kpi-date" id="card-kpi-date-end"> <%= report.end_date %></div>
            <div class="card-kpi-metric-value">
              <%= report.call_ga_v4_kpi.reports.first.data.totals.first.values.first.to_i %>
            </div>
            <%= report.order %>
            <div class="card-kpi-more-options" >
              <i class="fas fa-ellipsis-v card-kpi-more-options-image card-kpi-option", data-toggle="dropdown-kpi-<%=report.id%>"></i>
              <ul class="dropdown-menu dropdown  dropdown-menu-right navbar-wagon-dropdown-menu dropdown-more-options" id="dropdown-kpi-<%= "#{report.id}"%>">
                <li><%= link_to "Edit", edit_user_report_kpi_block_path(current_user, @report, report) %></li>
                <li><%= link_to "Delete", user_report_kpi_block_path(current_user, @report, report), method: :delete %></li>
              </ul>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="row report-blocks-row">
        <% @report.graph_blocks.each do |report| %>
        <div class="col-xs-12 col-sm-6 col-md-4 card-block-align">
          <div class="card card-kpi card-wrapper">
            <div class="card-kpi-metric-title"><%= GraphBlock.items_hash.key(report.graph_type)  %> </div>
            <div class="card-kpi-date" id="card-kpi-date-start"> <%= report.start_date %></div>
            <div class="card-kpi-date" id="card-kpi-date-end"> <%= report.end_date %></div>
            <div class="card-kpi-metric-value">
             <% values = report.call_ga_v4_graph.reports.first.data.rows.map do |item| [item.dimensions, item.metrics[0].values] end %></div>
             <div class="card-graph-chart"> <%= column_chart values %></div>
             <div class="card-kpi-more-options" >
              <i class="fas fa-ellipsis-v card-kpi-more-options-image card-kpi-option", data-toggle="dropdown-graph-<%=report.id%>"></i>
              <ul class="dropdown-menu dropdown  dropdown-menu-right navbar-wagon-dropdown-menu dropdown-more-options" id="dropdown-graph-<%= "#{report.id}"%>">
                <li><%= link_to "Edit", edit_user_report_graph_block_path(current_user, @report, report) %></li>
                <li><%= link_to "Delete", user_report_graph_block_path(current_user, @report, report), method: :delete %></li>
              </ul>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>



  <div>
    <%= link_to "Click to export as pdf", user_report_path(current_user, @report, format: :pdf), target: '_blank', class: 'btn btn-default' %>
  </div>
